/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  header h1 {
    font-size: 24px;
  }

  header p {
    font-size: 16px;
  }

  .logo {
    height: 80px;
    object-fit: contain;
    padding-bottom: 5px;
  }

  .icon {
    display: none;
  }

  #nav {
    display: block;
  }

  .nav-item {
    display: inline;
    font-size: 1.1rem;
    margin-right: 20px;
    text-decoration: none;
  }

  .sticky {
    position: fixed;
    top: 0;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 620px) {
  header h1 {
    font-size: 18px;
  }

  header p {
    font-size: 8px;
  }

  .logo {
    height: 50px;
    object-fit: contain;
    padding-bottom: 5px;
  }

  .icon {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    display: block;
    position: absolute;
    right: 10%;
    position: fixed;
  }

  #nav {
    display: block;
    text-align: right;
    object-fit: contain;
    margin-top: 40px;
    position: fixed;
  }

  nav ul {
    background-color: black;
    display: inline-block;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    align-items: right;
  }

  .nav-item {
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }

  .sticky {
    position: fixed;
    top: 0;
  }
}
