/* Common css */
* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/* Header section */

header {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 24px;
  font-family: inherit;
  margin-bottom: 10px;
}

header h2 {
  font-size: 20px;
  font-family: inherit;
}

header p {
  font-size: 13px;
  font-family: inherit;
}

.name {
  color: #636363;
  font-family: "montserratlight", Helvetica, Arial, sans-serif;
}

.logo {
  height: 100px;
  object-fit: contain;
  padding-bottom: 5px;
}

.mbit {
  margin-right: 10%;
}

.software-club {
  margin-left: 10%;
}

#nav {
  background-color: black;
  text-align: left;
  width: 100%;
  display: block;
}

nav ul {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.nav-item {
  display: inline;
  font-size: 1.1rem;
  margin-right: 20px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.nav-link {
  color: #dfdfdf;
}

a:hover {
  color: coral;
}

main {
  margin: 20px;
  padding: 10px;
  padding-top: 0;
  margin-top: 140px;
}

/* section */

section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact p {
  margin-bottom: 5px;
}

#contact input {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #bfbfbf;
}

#contact textarea {
  width: 250px;
  padding: 5px;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #bfbfbf;
}

.required {
  color: red;
}

.submit {
  color: white;
  background-color: black;
  width: 80px;
  padding: 5px;
  border-radius: 15px;
}

.submit:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 20px;
  padding: 20px auto;
}
